name: CI
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - run: npm run lint
  build:
    needs: 
      - lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
      - run: npm ci 
      - run: npm run build
      - run: tar czf stencil-custom-suffic-output-target.tgz dist
      - uses: actions/upload-artifact@v4
        with:
          name: stencil-custom-suffic-output-target
          path: stencil-custom-suffic-output-target.tgz
  test:
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v5
        with:
          name: stencil-custom-suffic-output-target
      - run: |
          tar xf stencil-custom-suffic-output-target.tgz
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
      - run: npm ci
      - run: npm run test
